*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    
}

.hidden{
    visibility: hidden;
    height: 0;
}

body{
    background: #e6e6e6;

}

.container{
    
    font-size: 15px;
    width: 80%;
    margin: auto;
}

.contact-box{
    background: #fff;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.contact-left{
    flex-basis: 80%;
    padding: 10px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #465285;
    color: #fff;
}

.container h1{
    margin: 20px 0px;
}

.container p{
    font-size: 16px;
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #6b7abd;
}

.button{
    display: flex;
}

button{
    background:#58595e;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin: 20px 15px;
    box-shadow: 0px 5px 15px 0px rgb(252, 241, 241);
}

button:hover{
    background: #91a5ff;
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    cursor: pointer;
    transform: translate3d(0, -4px, 0);
    transition: 300ms ease;
}

.contact-left h3{
    color: #465285;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;

}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}



@media screen and (max-width:768px){

    .contact-box{
        display: block;
    }

    .contact-left{
        padding: 10px 20px;
    }

    .contact-right{
        padding: 10px;
    }

}