.copyright{
    padding: 50px 0px 30px 0px;
    background-color: #f6f5f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 35%;
    text-align: center;
}

.column img{
    width: 40px;
    margin: 10px 5px;
    border-radius: 20px;
}

.column a{
    display: inline-block;
}

.column a img:hover{
    transform: translate3d(0, -2px, 0);
    transition: 300ms ease;
    box-shadow: 0rem 0rem 2rem 0rem #000000;
}

footer {
    background: #f6f5f4;
    color: #030303;
    text-align: center;
    font-size: 15px;
    padding-bottom: 25px;
    
}