*{
    margin: 0;
    padding: 0;
}

.hidden{
    visibility: hidden;
    height: 0;
}

.header{
    background: url(cover.jfif);
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.first-half{
    text-align: center;
    justify-content: center;
    padding: 60px 0px 30px 0px;
}

.first-half img{
    width: 180px;
}

.second-half{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}

.second-half-small{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #494949;
    font-size: 20px;
    padding-bottom: 25px;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list li{
    font-size: 25px;
    list-style: none;
    padding: 15px 0px;
    margin: 0px 35px;
}

.nav-list li a{
    text-decoration: none;
    color: #000000;
}

.nav-list li:hover{
    color: #494949;
    text-decoration: underline;
    transform: translate3d(0, -4px, 0);
    transition: 300ms ease;
}